TESTGEN_MODE=real
TESTGEN_BASE_URL=http://host.docker.internal:8530
TESTGEN_AUTH_MODE=oauth_refresh
TESTGEN_OAUTH_CLIENT_ID=
TESTGEN_OAUTH_CLIENT_SECRET=
TESTGEN_OAUTH_REFRESH_TOKEN=
TESTGEN_PROJECT_CODE=
TESTGEN_TABLE_GROUP_ID=
TESTGEN_TEST_SUITE_ID=

# Enterprise alternative:
# TESTGEN_AUTH_MODE=bearer
# TESTGEN_TOKEN=

CATALOG_PUBLISHER=mock
AUTH_MODE=demo
